body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1685 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1687 {
  position:absolute;
  left:1px;
  top:148px;
  width:373px;
  height:292px;
  text-align:left;
}
#u1688 {
  position:absolute;
  left:20px;
  top:138px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u1690 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1692 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1693 {
  position:absolute;
  left:1px;
  top:55px;
  width:373px;
  height:85px;
  text-align:left;
}
#u1694 {
  position:absolute;
  left:20px;
  top:34px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1695 {
  position:absolute;
  left:20px;
  top:65px;
  width:330px;
  height:32px;
  font-size:14px;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1697 {
  position:absolute;
  left:20px;
  top:112px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u1699 {
  position:absolute;
  left:136px;
  top:112px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1701 {
  position:absolute;
  left:20px;
  top:164px;
  width:141px;
  height:16px;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1704 {
  position:absolute;
  left:20px;
  top:214px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1705 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:10px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1706 {
  position:absolute;
  left:20px;
  top:214px;
  width:205px;
  height:10px;
}
#u1707 {
  position:absolute;
  left:20px;
  top:-3px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1708 {
  position:absolute;
  left:20px;
  top:190px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1710 {
  position:absolute;
  left:327px;
  top:190px;
  width:27px;
  height:15px;
  font-size:12px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1713 {
  position:absolute;
  left:20px;
  top:272px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1714 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1715 {
  position:absolute;
  left:20px;
  top:272px;
  width:154px;
  height:10px;
}
#u1716 {
  position:absolute;
  left:20px;
  top:-3px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1717 {
  position:absolute;
  left:20px;
  top:248px;
  width:301px;
  height:15px;
  font-size:12px;
}
#u1718 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1719 {
  position:absolute;
  left:337px;
  top:248px;
  width:20px;
  height:15px;
  font-size:12px;
}
#u1720 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1722 {
  position:absolute;
  left:22px;
  top:307px;
  width:145px;
  height:15px;
  font-size:12px;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1724 {
  position:absolute;
  left:339px;
  top:307px;
  width:20px;
  height:15px;
  font-size:12px;
}
#u1725 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1726 {
  position:absolute;
  left:23px;
  top:331px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1727 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1729 {
  position:absolute;
  left:22px;
  top:405px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1730 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 0, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1731 {
  position:absolute;
  left:22px;
  top:405px;
  width:130px;
  height:10px;
}
#u1732 {
  position:absolute;
  left:20px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1733 {
  position:absolute;
  left:23px;
  top:365px;
  width:301px;
  height:30px;
  font-size:12px;
}
#u1734 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1735 {
  position:absolute;
  left:339px;
  top:365px;
  width:20px;
  height:15px;
  font-size:12px;
}
#u1736 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
